*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
section .box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style:preserve-3d;
    animation: animate 25s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
section .box span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
section .box span img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


.navbar{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: sticky;
    top: 0;
    cursor: pointer;
   
}
.nav-list{
width:70%;
/* background-color: black; */
display: flex;
align-items: center;
}
.nav-list li{
list-style: none;
padding: 30px 30px;
font-size: 20px;
}
.nav-list li a{
text-decoration: none;
color:#333;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
}
.nav-list li a:hover{
    
    color: grey;
}
.cont {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  }
  .swiper-slide img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
footer{
    height: 70px;
    width: 100%;
    background:#f1f1f1;
    color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}
.sci{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}
.sci li{
    position: relative;
    list-style: none;
    margin: 0 2px;
}
.sci li:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity:0;
    filter: blur(2px);
    transform: scale(0.8);
}
.sci li:hover:before{
    transition-delay: 0.2s;
    opacity: .2;
    transform: scale(1);
}
.sci li a{
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
    background: #ccc;
}
.sci li:hover a{
transform: translateY(-10px);
}
.sci li a span{
    width: 100%;
    height: 100%;
}

.sci li a span:before{
    font-family:fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #262626;
    transform-origin: top;
    transition: transform 0.5s;
}
.sci li:hover a span:before{
    transform: rotateX(90deg) translateY(-50%);

}
.sci li a span:after{
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}

.sci li:hover a span:after{
    transform: rotateX(0deg) translateY(0);
    
}
.sci li:nth-child(1) a span:before,
.sci li:nth-child(1) a span:after
{
content:'\f09a';
}
.sci li:nth-child(2) a span:before,
.sci li:nth-child(2) a span:after
{
content:'\f099';
}
.sci li:nth-child(3) a span:before,
.sci li:nth-child(3) a span:after
{
content:'\f0d5';
}
.sci li:nth-child(4) a span:before,
.sci li:nth-child(4) a span:after
{
content:'\f16d';
}
.sci li:nth-child(1) a span:after{
    background: #3b5999;
}
.sci li:nth-child(2) a span:after{
    background: #55acce;
}
.sci li:nth-child(3) a span:after{
    background: #dd4b39;
}
.sci li:nth-child(4) a span:after{
    background: #e4405f;
}

